theHarvester
spiderfoot
recon-ng
sherlock
snscrape
waybackpy
shodan
censys
Sublist3r
dnstwist
python-whois
ipwhois
tldextract
exifread
mitmproxy
oletools
beautifulsoup4
scrapy
requests
dnspython
ssdeep
whois
googlesearch-python
google-search-results
phonenumbers
email-validator
certstream
python-nmap
pyjwt
python-dotenv
yara-python
fuzzywuzzy
ratelimiter
linkpreview
holehe
maigret
trufflehog
metagoofil
pyinstaller
pdfminer.six
python-magic
